/* style.css */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#heartfall {
    position: relative;
    height: 100%;
}

@keyframes fall {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 100vh);
    }
}

.heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    top: -10px;

}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    background-color: red;
    animation: fall linear forwards;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 5px;
}
